.calendars {
  margin-bottom: 160px;
}

.calendar-wrapper {
  margin-bottom: .5rem;
  h2 {
    height: 1rem;
  }
}

.btn-fixed-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px;
  background: #FFF;
}
