.span1,
.span2,
.span3 {
  display: inline-block;
}

.span4 {
  min-width: 4rem;
}

.span1 {
  width: 20%;
  min-width: 2rem;
  max-width: 3rem;
}

.span2 {
  width: 60%;
  text-align: center;
}

.span3 {
  width: 20%;
  text-align: left;
  min-width: 1rem;
}

.am-accordion-item {
  margin-bottom: .2rem;
}


.status-1 {
    .am-accordion-header,
    .am-list-body,
    .am-list-item {
        background-color: #58C9CA !important;
    }
    .am-list-body {
        border-top: 1px solid #58C9CA;
    }
}

.status-2 {
    .am-accordion-header,
    .am-list-body,
    .am-list-item {
        background-color: #F29C39 !important;
    }
    .am-list-body {
        border-top: 1px solid #F29C39;
    }
}

.status-3 {
    .am-accordion-header,
    .am-list-body,
    .am-list-item {
        background-color: #7FC84E !important;
    }
    .am-list-body {
        border-top: 1px solid #7FC84E;
    }
    .content {
    }
}

.status-4 {
    .am-accordion-header,
    .am-list-body,
    .am-list-item {
        background-color: #F29C39 !important;
    }
    .am-list-body {
        border-top: 1px solid #F29C39;
    }
}

.status-1,
.status-2,
.status-3 {
    .btn-cancel {
        width: 45%;
        margin-right: 10%;
    }
    .btn-confirm {
        width: 45%;
    }
    .btn-cancel-large {
        width: 100%;
    }
}
