html, body {
    font-family: Arial, Helvetica, Sans-Serif;
    color: #232323;
}

.login-container {
  text-align: center;
  height: 100%;

  .login-banner {
    height: 36%;

    h1 {
      display: inline-block;
      margin-top: 36%;
      font-size: 2rem;
    }
  }

  .login-form {
    height: 40%;
    padding: 0 1rem;
  }

  .login-copyright {
    height: 10%;
    font-size: 1rem;
  }

  .login-chooselan {
    height: 10%;
    font-size: 1rem;
  }
}
.am-list-item .am-input-label.am-input-label-5 {
    width: 3rem;
}

.am-list-item,
.am-list-item.am-input-item {
    height: 3.5rem;
    min-height: 3rem;
}

.am-list-item .am-input-control input {
    padding: .3rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

.am-list-item .am-input-label {
    font-size: 1.3rem;
}

.am-button {
    font-size: 1rem;
    height: 2.5rem;
    line-height: 2.5rem;
}

.choose-lang {
    display: inline-block;

    li {
        display: inline-block;
        margin: 0 .2rem;
    }
}
